<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Card Animado</title>
</head>

<body>
  <div class="card">
    <div class="front">
      <h2>O que é meta-aprendizado?</h2>
    </div>
    <div class="back">

      <ul>
        <li>Autoconsciência -Ter consciência dos próprios processos e hábitos de aprendizagem, identificando pontos
          fortes e fracos. Isso permite direcionar esforços para melhorar áreas específicas.</li>
        <li>Autorregulação - Capacidade de monitorar, avaliar e ajustar os próprios processos de aprendizagem. Por
          exemplo, saber quando utilizar diferentes estratégias, como repetição espaçada ou elaboração.</li>
        <li>Motivação - Manter-se motivado e engajado durante o processo de aprendizagem. Saber usar recompensas e
          incentivos de forma efetiva.</li>
        <li>Hábitos - Desenvolver bons hábitos que apoiam a aprendizagem, como estudo consistente, anotações, revisão
          periódica. Automatizar rotinas ajuda no progresso.</li>
        <li>Ambiente - Organizar um ambiente propício para aprender, como espaço adequado, materiais necessários, tempo
          focado. Controlar fatores externos que possam atrapalhar.</li>
        <li>Colaboração - Aprender com outros, trocando feedback e compartilhando estratégias. Grupos de estudo e
          tutoria podem expandir repertório.</li>
        <li>Transferência - Aplicar o aprendizado em novas situações. Praticar retrieval e testar conhecimentos ajuda
          nesse processo.</li>
        <li>Crescimento - Enxergar aprendizagem como jornada contínua. Manter mentalidade de crescimento, buscando
          sempre evoluir habilidades.</li>
      </ul>
    </div>
  </div>
</body>

</html>